<div class="layout-breadcrumb">
    <ul>
        <li>
            <a routerLink="">
                <i class="material-icons">home</i>
            </a>
        </li>
        <li>/</li>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <li>
                <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
                <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
            </li>
            <li *ngIf="!last">/</li>
        </ng-template>
    </ul>

    <p-confirmDialog></p-confirmDialog>
    <div class="layout-breadcrumb-options">
        <a (click)="onLogout()"  title="Logout" class="cursor-pointer logout-button-ui">
            <i class="material-icons logout-icon">power_settings_new</i>
        </a>
    </div>
    <div style="float: right;">
      <ul>
        <li><span style="font-weight:400;font-size: small;margin-top: 4px;vertical-align: bottom;">Base CCY </span><span style="font-weight:600;font-size: large;margin-top: 4px;">{{baseCurrency}}</span></li>
      </ul>
    </div>
</div>
