<div *ngIf="isLoading">
  <mat-spinner class="sb-mx-auto" color="accent" diameter="30" id={{context.widgetId}}></mat-spinner>
  <p class="sb-text-center" style="color: lightgray"> Loading... </p>
</div>
<highcharts-chart
  [Highcharts]="Highcharts"
  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"
  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngular"
  style="width: 100%; height: 150px; display: block;"
></highcharts-chart>
